$primary: #ffd700; // жовтий
$dark: #111111; // чорний
$gray: #f0f0f0;
$font-scale: 1.3;

html {
  min-width: 500px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $dark;
  color: $gray;
  line-height: 1.6;
}

a {
  color: $primary;
}

header {
  background-color: $primary;
  color: $dark;
  padding: calc(1.5rem * $font-scale) calc(1rem * $font-scale);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: calc(1rem * $font-scale);

  .logo {
    height: calc(90px * $font-scale);
    width: auto;
  }

  h1 {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.2;
  }
}

.strong {
  font-weight: bold;
}

.bold {
  font-weight: bold;
  color: $primary;
}

.partners {
  text-align: center;
  img {
    border-radius: 10px;
  }
}

.section-title {
  color: $primary;
  margin-bottom: calc(0.5rem * $font-scale);
  font-size: 2em;
}

.section {
  padding: calc(1rem * $font-scale) calc(1rem * $font-scale);
  max-width: 1000px;
  margin: auto;

  ul {
    padding-left: calc(1.2rem * $font-scale);

    li {
      margin-bottom: calc(0.7rem * $font-scale);
      font-size: 1.5em;
    }
  }

  p {
    margin-bottom: calc(1rem * $font-scale);
    font-size: 1.5em;
  }
}

.image-section {
  margin: calc(1rem * $font-scale) 0;
  display: flex;
  justify-content: center;

  .image-banner {
    width: 60%;
    height: auto;
    display: block;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .image-section {
    .image-banner {
      width: 100%;
    }
  }
}

/* Відгуки */
.reviews {
  padding: calc(2rem * $font-scale) calc(1rem * $font-scale);
  max-width: 1000px;
  margin: auto;
  background-color: $dark;
  color: $gray;

  h2 {
    color: $primary;
    margin-bottom: calc(1rem * $font-scale);
    font-size: 2em;
  }
}

.reviews-wrapper {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
  height: auto;
}

.reviews-wrapper::-webkit-scrollbar {
  height: 8px;
}

.reviews-wrapper::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 4px;
}

.review {
  flex: 0 0 500px;
  display: flex;
  background-color: $dark;
  border: 1px solid $primary;
  border-radius: 8px;
  scroll-snap-align: start;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(255, 215, 0, 0.3);
}

.video {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    top: 0;
    left: 0;
  }
}

.review img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
  height: 180px;
  object-fit: contain;
  background-color: $dark;
  padding: 0.5rem;
  border-radius: 15px;
}

.review-text {
  background-color: $dark;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  overflow-y: auto;
  max-height: 260px;
  flex: 1;
  text-align: justify;
}

.review-text p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.1;
  text-align: left;

  @media (max-width: 448px) {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .review {
    flex-direction: column;
    flex: 0 0 80vw;
    height: auto;
  }

  .review img {
    width: 100%;
    height: 200px;
  }

  .review-text {
    padding: 1rem;
  }
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  h2 {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    background-color: $dark;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    text-align: center;

    label {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      color: $gray;

      input {
        padding: 0.7rem;
        border-radius: 10px;
        border: 1px solid $primary;
        margin-top: 0.3rem;
        font-size: 1rem;
        background-color: #222;
        color: $gray;
      }
    }

    button {
      padding: 0.8rem;
      border-radius: 10px;
      border: none;
      background-color: $primary;
      color: $dark;
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: darken($primary, 10%);
      }
    }
  }
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;

    &-content {
      background: $gray;
      color: $dark;
      padding: 2rem;
      border-radius: 12px;
      max-width: 400px;
      text-align: center;

      button {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background: $primary;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;

        &:hover {
          background: darken($primary, 10%);
        }
      }
    }
  }
}

.schedule {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .left {
    min-width: 120px;
    font-weight: bold;
  }
  .right {
    overflow-x: auto;
    padding-left: 10px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    border: 1px solid #ccc;
    padding: 4px;
    white-space: nowrap;
    height: 25px;
    max-height: 25px;
    overflow: hidden;
  }
  .free {
    background-color: green;
  }

  /* фіксована висота перших двох рядків */
  tr:nth-child(1) td,
  tr:nth-child(2) td {
    text-align: center;
    font-weight: bold;
  }
  tr:nth-child(5) td,
  tr:nth-child(8) td,
  tr:nth-child(11) td,
  tr:nth-child(14) td {
    height: 10px;
    background-color: rgb(238, 225, 161);
  }
}

footer {
  background-color: $primary;
  color: $dark;
  margin-top: 80px;
  text-align: center;
  padding: calc(1.5rem * $font-scale);
  font-size: calc(1.3rem * $font-scale);
  font-weight: bold;

  .contacts {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: calc(1rem * $font-scale);
    font-weight: normal;
    padding-bottom: 40px;

    a {
      color: $dark;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: bold;
      transition: color 0.3s ease;
      padding-right: 20px;

      &:hover,
      &:focus {
        color: #222222;
        text-decoration: underline;
      }

      &.contacts-img {
        img {
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
      }
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 30px;

      a {
        flex-direction: row;
        width: 100%;
        padding-right: 0;
      }
    }
  }

  // .partners {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100%;
  // }
}
